*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #f9fbfd;
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(206, 17%, 28%);
}

.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

/*
	Form section:
 */
form {
	padding: 0;
	height: 0px;
	transition: height 0.8s, opacity 1s;
	opacity: 0.0;
}
label {
	float: left;
	display: none;
	clear:left;
	text-align: left;
	width: 40%;
	margin: 0.5em;
	opacity: inherit;
	transition: inherit;
}
input[type=number] {
	display: none;
	float: right;
	text-align: right;
	margin: 5px;
	margin-right: 9px;
	vertical-align:middle;
	width: 4em;
	opacity: inherit;
}
input:invalid {
	background-color: #ff000066;
}

/*
	Form switches:
 */
.switch {
	cursor: pointer;
	position: relative;
	float: right;
	clear: right;
	display: none;
	width: 36px;
	height: 20px;
	margin-right: 9px;
}
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}
.switch span {
	display: inherit;
	position: absolute;
	transition: .4s;
	background: #aaa;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
}
.switch span:before {
	cursor: pointer;
	position: absolute;
	content: "";
	height: 16px;
	width: 16px;
	left: 2px;
	bottom: 2px;
	background-color: #ddd;
	transition: .4s;
}
input:checked + span {
	background: #29f;
}
input:checked + span:before {
	transform: translateX(16px);
	background: #fff;
}

.card-body {
  min-height: 100px;
}

.card-footer {
  text-align: center;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.btn {
  border: none;
  background-color: hsl(360, 91%, 36%);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
  position: relative;
}
.card-body {
	position: relative;
}
/* The "Copied to clipboard." popup text that appears (see script). */
.card-body span {
	display: none;
	position: absolute;
	opacity: 1;
	transition: opacity 0.5s;
	padding: 0.5em 1.5em;
	top: -0.5em;
	left: 1em;
	background: #00000099;
	color: #fff;
}

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
  label {
	width: 70%;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
  label {
	font-size: 0.8em;
	padding: 2px 0;
  }
}
